<!-- .customize -->
<header class="customize-header fixed-header">
  <div class="customize-header-inner">
    <div class="customize-header-customize">
      <a class="customize-header-back-button button" href="#">
        <span class="fa fa-angle-left"></span> Back
      </a>
      <a class="customize-header-preview-button button" href="#/remix/{{name}}/preview">
        Preview <span class="fa fa-angle-right"></span>
      </a>
    </div>
    <div class="customize-header-preview">
      <a class="customize-header-customize-button button" href="#/remix/{{name}}">
        <span class="fa fa-angle-left"></span> Remix
      </a>
      <h4>Preview</h4>
    </div>
  </div>
</header>
<div class="customize-content-container">
  <div class="customize-content-inner">
    <div class="customize-pane">
      <h3>Step 2: Remix</h3>
      <div class="customize-instructions">
        <span class="customize-instructions-dismiss fa fa-times-circle"></span>
        <p>
          Below is the code for your card! Looks crazy, right? If you change the words
          with the <span style="border-bottom: 1px dashed rgba(0, 0, 0, 0.5);">dashed
          underline</span>, they'll change on your card. Try it now!
        </p>
        <p class="show-mobile">
          Tap 'Preview' in the bar above to see how your card is looking! When you're
          ready, tap 'Publish' on the preview screen.
        </p>
      </div>
      <div class="customizer-inject"></div>
    </div>
    <div class="preview-pane">
    </div>
  </div>
</div>
