<!-- .templateSelect -->
<header class="step-header step-header-one">
  <h2>Step 1:</h2>
  <h3>Choose your template</h3>
</header>
<ul class="template-preview-list">
  {{#each this}}
    <li class="template-preview-list-item">
      <a href="#/remix/{{name}}" class="template-preview">
        <img src="{{img}}" class="template-preview-image" alt="{{alt}}">
      </a>
    </li>
  {{/each}}
</ul>
