@import '_cm-theme'

.CodeMirror
  height auto
  width 100%
  font-family codeFonts
  font-size 16px
  line-height 1.3em

  &.cm-s-solarized.cm-s-light
    background-color rgba(255, 255, 255, 0.5)

    .CodeMirror-gutters
      background-color rgba(255, 255, 255, 0.5)
