.customize-container
  background-color bgColor
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  margin 0

.customize-header
  color white
  line-height 50px
  margin 0
  padding 0

  h4
    font-family brandFont
    font-weight normal

.customize-header-inner
  transition all viewTransitionDuration ease

  .show-preview &
    transform translateX(-100%)

  .show-publish &
    transform translateX(-200%)

.customize-header-customize,
.customize-header-preview,
.customize-header-publish
  top 0
  width 100%
  position absolute
  h4, .button
    position absolute
    z-index 10
  h4
    z-index 5
    margin 0
    left 0
    width 100%
    text-align center
    top 0

.customize-header-customize
  left 0

.customize-header-preview
  left 100%

.customize-header-publish
  left 200%

.customize-header-forward-button
  right 15px

.customize-header-back-button
  left 15px

.customize-content-container
  position fixed
  top 50px
  left 0
  bottom 0
  width 100%

.customize-content-inner
  position absolute
  width 100%
  top 0
  bottom 0
  transition all viewTransitionDuration ease

  .show-preview &
    transform translateX(-100%)

  .show-publish &
    transform translatex(-200%)

.customize-pane,
.preview-pane,
.publish-pane
  overflow auto
  position absolute
  width 100%
  top 0
  left 0
  bottom 0

.customize-pane h3
  margin-bottom 5px
  padding-left 15px

.customize-instructions
  padding 15px
  background-color #F7F4DE

  p
    margin 0
    margin-top 15px

    &:nth-of-type(1)
      margin-top 0

.customize-instructions-dismiss
  display block
  cursor pointer
  float right
  padding-left 15px
  padding-bottom 10px

.preview-pane
  left 100%

.preview-frame
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  border none
  background white

.publish-pane
  left 200%

.hide-mobile
  display none

.customize-type-toggle
  background none
  border none
  color black
  font-family font
  font-weight 300
  text-decoration underline
  position absolute
  top 20px
  right 15px

@media screen and (min-width: 700px)
  .show-mobile
    display none

  .hide-mobile
    display block

  .customize-header-customize,
  .customize-header-preview,
  .customize-header-publish,
  .customize-pane,
  .preview-pane,
  .publish-pane
    width 50%

  .customize-header-preview,
  .preview-pane
    left 50%

  .customize-header-publish,
  .publish-pane
    left 100%

  .show-preview
    .customize-content-inner,
    .customize-header-inner
      transform translateX(0)

  .show-publish
    .customize-content-inner,
    .customize-header-inner
      transform translateX(-50%)

    .customize-header-preview
      .customize-header-back-button
        display block

      .customize-header-forward-button
        display none
