.publish-view
  text-align center
  padding 0 30px

.publish-loading
  h3
    color eakPurple

.publish-url
  font-size 18px

  @media screen and (min-width: 500px)
    font-size 22px

.social-button
  display inline-block
  padding 10px
  margin 15px
  margin-bottom 0
  color white
  text-decoration none
  border-radius 0.5em
  opacity 0.8
  &:before
    font-family 'FontAwesome'
    font-size 1.4em
    font-weight normal
    padding-right 0.5em
    position relative

  &:hover
    opacity 1

.social-button-twitter
  background-color #00aced
  &:before
    content "\f099"
    top 2px

.social-button-facebook
  background-color #3b5998
  &:before
    content "\f09a"
    top 3px
