.template-select
  width 100%
  margin auto

.template-preview-list
  list-style none
  margin 30px
  padding 0

.template-preview-list-item
  margin-bottom 30px

.template-preview
  display block
  position relative
  overflow hidden
  box-shadow 0 3px 10px rgba(0, 0, 0, 0.3)
  transition all 0.2s ease

.template-preview:hover
  z-index 1
  transform scale(1.1)

.template-preview-image
  max-width 100%
  display block

.template-preview-meta
  position absolute
  bottom 0
  width 100%
  padding 15px
  padding-top 50px
  background linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7))
  color white
  text-decoration none
  text-shadow 0 0 5px black

.template-preview-meta-title
  font-size 1.2em

.template-preview-meta-author
  font-style italic

@media screen and (min-width: 550px)
  .template-preview-list
    margin-right 0
    clear both

  .template-preview-list-item
    width 50%
    float left
    padding-right 30px

@media screen and (min-width: 960px)
  .template-preview-list-item
    width (100/3)%

@media screen and (min-width: 1400px)
  .template-select
    max-width 1400px
    margin auto
