font = 'Open Sans', sans-serif
codeFonts = 'Ubuntu Mono', 'Consolas', 'Menlo', 'Monaco', 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif
brandFont = 'KG Next to Me', 'Open Sans', sans-serif

eakPurple=#473475
bgColor=#DCF7F6

viewTransitionDuration=0.3s
